/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

/* Barra de Navegação Superior */
header {
  width: 100%;
  height: 6vw;
  position: fixed;
  z-index: 3;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.cabecalho {
  display: flex;
  align-items: center;
  z-index: 2;
}
.logo {
  width: 15vw;
  height: 100%;
  margin-left: 2vw;
  cursor: pointer;  
  margin-top: 0.6vw;  
}

.box_nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  width: 40vw;
  margin-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
a {
  font-style: normal;
  color: white;
  text-decoration: none; 
  font-size: 1.5vw;
  font-weight: 400;
  text-align: center;
}
a:hover {
  font-weight: bold;
}

/* Estilo para o container principal */
.container {
  display: flex;
  min-height: 100vh;
  padding-top: 6vw; /* Adicionado para evitar sobreposição com o header */
}

/* Estilo do conteúdo principal */
.content {
  padding: 20px;
}

h1 {
  color: #092B43;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para o card de largura total */
.full-width-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 100%; /* Certifica-se de que o card ocupa toda a largura disponível */
}

.full-width-card h2 {
  color: #092B43;
  margin-bottom: 10px;
}

.full-width-card h3 {
  color: #0c3a53;
  margin-bottom: 10px;
}

.full-width-card p {
  color: #666;
  font-size: 14px;
}

/* Estilo para o botão nos cards */
.full-width-card button {
  background-color: #092B43;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.full-width-card button:hover {
  background-color: #0c3a53;
}

/* Botão flutuante redondo no canto inferior direito */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0080BA; /* Cor de fundo do botão */
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição para suavizar a expansão */
  z-index: 1000; /* Mantém o botão acima de outros elementos */
}

/* Expansão do botão ao passar o mouse */
.floating-button:hover {
  width: 150px;
  height: 150px;
  font-size: 36px; /* Aumenta o tamanho do texto quando expandido */
}

footer {
  background-color: #092B43; /* Fundo escuro como o tema principal */
  color: white; /* Texto branco para contraste */
  text-align: center; /* Centraliza o texto */
  padding: 20px 0; /* Espaçamento vertical */
  font-size: 14px; /* Tamanho do texto */
  border-top: 2px solid #0080BA; /* Linha superior para destacar o rodapé */
}

.footer_final {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
