/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

/* Estilo para a barra lateral */
.sidebar {
  width: 60px;
  background-color: #092B43;
  color: white;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.5s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar.expanded {
  width: 250px;
}


/* Estilo para a logo */
.logo {
  text-align: center;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.logo img {
  width: 40px; /* Largura inicial */
  height: 40px; /* Altura inicial */
  transition: all 0.5s ease;
  object-fit: contain; /* Garante que a logo mantenha a proporção */
}

.sidebar.expanded .logo img {
  width: 100px; /* Largura expandida */
  height: 100px; /* Altura expandida */
}


/* Botão de Toggle */
.sidebar .toggle-btn {
  background-color: #092B43;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.sidebar.expanded a {
  opacity: 1;
}

.sidebar a:hover {
  background-color: #0c3a53;
}

/* Botão de Sair */
.logout {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logout a {
  display: block;
  width: 100%;
}

.logout button {
  background-color: #092B43;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaçamento entre o ícone e o texto */
  padding: 15px 20px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.logout img {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}

.logout button:hover img {
  transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

.logout span {
  display: none;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .logout span {
  display: inline;
  opacity: 1;
}


/* Estilo para o conteúdo principal */
.container {
  margin-left: 60px; /* Margem padrão da sidebar */
  padding: 20px;
  width: calc(100% - 60px); /* Largura ajustada para a sidebar não cobrir o conteúdo */
  transition: margin-left 0.3s, width 0.3s; /* Transição suave */
}

/* Quando a sidebar é expandida, ajusta a margem e a largura */
.sidebar.expanded + .container {
  margin-left: 250px; /* Aumenta a margem quando a sidebar expande */
  width: calc(100% - 250px); /* Ajusta a largura do conteúdo quando a sidebar é expandida */
}

.content h1 {
  color: #092B43;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para os cards */
.full-width-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

.full-width-card h2 {
  color: #092B43;
  margin-bottom: 10px;
}

.full-width-card h3 {
  color: #0c3a53;
  margin-bottom: 10px;
}

.full-width-card button {
  background-color: #092B43;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.full-width-card button:hover {
  background-color: #0c3a53;
}

/* Botão flutuante */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0080BA;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.floating-button:hover {
  width: 150px;
  height: 150px;
  font-size: 36px;
}

/* Rodapé */
footer {
  background-color: #092B43;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  border-top: 2px solid #0080BA;
}
