/* Importa a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Define box-sizing para todos os elementos para incluir padding e border no cálculo da largura e altura */
* {
    box-sizing: border-box;
}

/* Estiliza o corpo da página */
body {
    background: #f6f5f7; /* Cor de fundo */
    display: flex; /* Usa Flexbox para layout */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os itens na coluna */
    font-family: 'Montserrat', sans-serif; /* Define a fonte */
    height: 100vh; /* Altura total da viewport */
    margin: -20px 0 0px; /* Margens negativas para remover espaço */
    transition: opacity 0.3s ease-out; /* Efeito de transição para a opacidade */
}

/* Classe para efeito de fade-out */
.fade-out {
    opacity: 0; /* Define a opacidade para 0 (invisível) */
}

/* Estiliza o botão de voltar para a página inicial */
.home-button {
    position: absolute; /* Posiciona de forma absoluta */
    top: 20px; /* 20 pixels do topo */
    left: 20px; /* 20 pixels da esquerda */
    max-width: 110px; /* Largura máxima do botão */
    height: auto; /* Altura automática */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

/* Estiliza o título principal */
h1 {
    font-weight: bold; /* Texto em negrito */
    margin: 0; /* Remove margens */
}

/* Estiliza o subtítulo */
h2 {
    text-align: center; /* Centraliza o texto */
}

/* Estiliza os parágrafos */
p {
    font-size: 14px; /* Tamanho da fonte */
    font-weight: 100; /* Peso da fonte */
    line-height: 20px; /* Altura da linha */
    letter-spacing: 0.5px; /* Espaçamento entre letras */
    margin: 20px 0 30px; /* Margens */
}

/* Estiliza os spans */
span {
    font-size: 12px; /* Tamanho da fonte */
}

/* Estiliza links */
a {
    color: #333; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado */
    margin: 15px 0; /* Margens */
}

/* Estiliza botões */
button {
    border-radius: 20px; /* Bordas arredondadas */
    border: 1px solid #092B43; /* Borda com cor */
    background-color: #092B43; /* Cor de fundo */
    color: #FFFFFF; /* Cor do texto */
    font-size: 12px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    padding: 12px 45px; /* Padding interno */
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-transform: uppercase; /* Transforma texto em maiúsculas */
    transition: transform 80ms ease-in; /* Transição para efeito de transformação */
}

/* Efeito de transformação ao clicar no botão */
button:active {
    transform: scale(0.95); /* Reduz a escala ao clicar */
}

/* Remove o outline do botão quando em foco */
button:focus {
    outline: none;
}

/* Estilo para botões com classe 'ghost' */
button.ghost {
    background-color: transparent; /* Fundo transparente */
    border-color: #FFFFFF; /* Cor da borda */
}

/* Estiliza o formulário */
form {
    background-color: #FFFFFF; /* Cor de fundo do formulário */
    display: flex; /* Usa Flexbox para layout */
    align-items: center; /* Alinha itens ao centro verticalmente */
    justify-content: center; /* Centraliza itens horizontalmente */
    flex-direction: column; /* Alinha os itens na coluna */
    padding: 0 50px; /* Padding horizontal */
    height: 100%; /* Altura total do formulário */
    text-align: center; /* Centraliza o texto */
}

/* Estiliza os campos de entrada */
input {
    background-color: #eee; /* Cor de fundo */
    border: none; /* Remove borda */
    padding: 12px 15px; /* Padding interno */
    margin: 8px 0; /* Margens verticais */
    width: 100%; /* Largura total */
    border-radius: 5%; /* Bordas arredondadas */
}

/* Estiliza o contêiner principal */
.container {
    background-color: #fff; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), /* Sombra externa */
                0 10px 10px rgba(0,0,0,0.22); /* Sombra interna */
    position: relative; /* Posiciona de forma relativa */
    overflow: hidden; /* Oculta overflow */
    width: 1000px; /* Largura fixa */
    max-width: 100%; /* Largura máxima de 100% */
    min-height: 700px; /* Altura mínima */
}

/* Estiliza o contêiner do formulário */
.form-container {
    position: absolute; /* Posiciona de forma absoluta */
    top: 0; /* Alinha ao topo */
    height: 100%; /* Altura total */
    transition: all 0.6s ease-in-out; /* Transição suave */
}

/* Estiliza o contêiner de login */
.sign-in-container {
    left: 0; /* Alinha à esquerda */
    width: 50%; /* Largura de 50% */
    z-index: 2; /* Z-index para empilhamento */
}

/* Transição para mover o contêiner de login */
.container.right-panel-active .sign-in-container {
    transform: translateX(100%); /* Move 100% para a direita */
}

/* Estiliza o contêiner de registro */
.sign-up-container {
    left: 0; /* Alinha à esquerda */
    width: 50%; /* Largura de 50% */
    opacity: 0; /* Opacidade inicial */
    z-index: 1; /* Z-index menor */
}

/* Transição para mostrar o contêiner de registro */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%); /* Move 100% para a direita */
    opacity: 1; /* Define opacidade para 1 (visível) */
    z-index: 5; /* Z-index maior */
    animation: show 0.6s; /* Animação para mostrar */
}

/* Define a animação para o contêiner de registro */
@keyframes show {
    0%, 49.99% {
        opacity: 0; /* Inicialmente invisível */
        z-index: 1; /* Z-index menor */
    }
    
    50%, 100% {
        opacity: 1; /* Torna visível */
        z-index: 5; /* Z-index maior */
    }
}

/* Estiliza o contêiner de sobreposição */
.overlay-container {
    position: absolute; /* Posiciona de forma absoluta */
    top: 0; /* Alinha ao topo */
    left: 50%; /* Alinha à esquerda (50% do contêiner) */
    width: 50%; /* Largura de 50% */
    height: 100%; /* Altura total */
    overflow: hidden; /* Oculta overflow */
    transition: transform 0.6s ease-in-out; /* Transição suave */
    z-index: 100; /* Z-index alto */
}

/* Transição para mover a sobreposição */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%); /* Move 100% para a esquerda */
}

/* Estiliza a sobreposição */
.overlay {
    background: #092B43; /* Cor de fundo */
    background: -webkit-linear-gradient(to right, #092B43, #092B43); /* Gradiente */
    background: linear-gradient(to right, #092B43, #145e92, #092B43); /* Gradiente */
    background-repeat: no-repeat; /* Não repete o fundo */
    background-size: cover; /* Cobre o fundo */
    background-position: 0 0; /* Posição do fundo */
    color: #FFFFFF; /* Cor do texto */
    position: relative; /* Posiciona de forma relativa */
    left: -100%; /* Move para fora da tela à esquerda */
    height: 100%; /* Altura total */
    width: 200%; /* Largura total para cobrir a tela */
    transform: translateX(0); /* Inicia na posição original */
    transition: transform 0.6s ease-in-out; /* Transição suave */
}

/* Transição para mover a sobreposição para dentro */
.container.right-panel-active .overlay {
    transform: translateX(50%); /* Move 50% para a direita */
}

/* Estiliza o painel da sobreposição */
.overlay-panel {
    position: absolute; /* Posiciona de forma absoluta */
    display: flex; /* Usa Flexbox para layout */
    align-items: center; /* Alinha itens ao centro verticalmente */
    justify-content: center; /* Centraliza itens horizontalmente */
    flex-direction: column; /* Alinha itens na coluna */
    padding: 0 40px; /* Padding horizontal */
    text-align: center; /* Centraliza o texto */
    top: 0; /* Alinha ao topo */
    height: 100%; /* Altura total */
    width: 50%; /* Largura de 50% */
    transform: translateX(0); /* Inicia na posição original */
    transition: transform 0.6s ease-in-out; /* Transição suave */
}

/* Transição para mover o painel da sobreposição para a esquerda */
.overlay-left {
    transform: translateX(-20%); /* Move 20% para a esquerda */
}

/* Transição para mover o painel da sobreposição para a posição original */
.container.right-panel-active .overlay-left {
    transform: translateX(0); /* Retorna à posição original */
}

/* Transição para mover o painel da sobreposição para a direita */
.overlay-right {
    right: 0; /* Alinha à direita */
    transform: translateX(0); /* Inicia na posição original */
}

/* Transição para mover o painel da sobreposição para a posição original */
.container.right-panel-active .overlay-right {
    transform: translateX(20%); /* Move 20% para a direita */
}

/* Estiliza o contêiner de redes sociais */
.social-container {
    margin: 20px 0; /* Margens verticais */
}

/* Estiliza os ícones de redes sociais */
.social-container a {
    border: 1px solid #DDDDDD; /* Borda leve */
    border-radius: 50%; /* Borda arredondada */
    display: inline-flex; /* Exibe como flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 5px; /* Margens laterais */
    height: 40px; /* Altura dos ícones */
    width: 40px; /* Largura dos ícones */
}
